{{> header}}

<div class="container">
    <section>
        <div class="container mx-3">
            <h1 class="head-title"> Pizzazzio </h1>
            <p>
                Welcome to Pizzazzio. This is the place to order the most delicious and aunthentic italian pizzas.<br>
                We deliver on our promises, treating each order and interaction as an opportunity to deepen relations by<br> delivering great product, service, and experiences. We hold ourselves accountable, and if we don't <br>deliver on a promise, we'll make it right.
            <br>

            <p><b> *Delivery will be <span style="color: brown"> free of charge </span> in case your order is higher than <span style="color: brown"> 20$ </span> or takes more than <span style="color: brown"> 30 mins </span> to reach you. </b></p>
            <a class="btn btn-dark custom-btn" href="/login/">Sign In and Order</a>
        </div>
    </section>
</div>