{{> header}}

<div class="container">
    <section>
        <div class="container mx-3">
            <h1 class="head-title">Pizza Delivery</h1>
            <p>
                Welcome to Pizzazzio. This is a place to get the most delicious pizza from a wide variety of pizzas. <br> We have products with varying crusts and sizes, pasta-based dishes, chicken wings, boneless chicken, <br> oven-baked sandwiches, bread side items, soft drinks, and desserts!
            </p>
            <br>
            <p><b> Delivery <span style="color:brown;"> free of charge </span> in case your order is higher than <span style="color:brown;">20$</span> or gets delayed more than <span style="color:brown;">30 mins.</span> </b></p>
            <a class="btn btn-dark custom-btn" href="/login/">Sign In and Order</a>
        </div>
    </section>
</div>