{{> menu-nav}}

<div class="container">
    <h1 class="mt-2">Congrats, Your order has been placed successfully!</h1>
    <h4 class="alert alert-success">You will receive a notification by email with your order details. </h4>
    <a href="/menu/list" class="btn btn-dark">Order again</a>
</div>

<script>
    localStorage.clear();
</script>